/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.login-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(209, 102, 102);
  }


.signup-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(190, 115, 115)
  }

.private-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(168, 137, 137)
  }

.home-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(143, 162, 162)
  }